/* Reset básico */

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos globais */
body {
  line-height: 1.6;
  color: #fff;

  overflow-x: hidden;
  overflow-y: auto;
}

h2 {
  text-shadow: 4px 1px 1px #303030;
  padding: 0 !important;
  font-size: 2.1rem;
}

.service-items h3,
.persuasive-section h3 {
  color: #fff;
  margin-top: 0.5rem;
  text-shadow: 3px 0 1px #333;
}

.laser-title {
  visibility: hidden; /* Esconde o título até o efeito começar */
}

/* Estilos para o loader */
#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000050;
  backdrop-filter: blur(40px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loading-icon svg path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: laserAnimation 2s infinite linear;
}

@keyframes laserAnimation {
  to {
    stroke-dashoffset: 0;
  }
}

/* Container padrão */
.container {
  max-width: 1400px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.blur-mask {
  position: relative;
  z-index: 1;
  background-image: linear-gradient(110deg, #ffffff10, #00000010);
}

.blur-mask::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  z-index: -1;
  border-radius: 10px;
  border: 1px solid #dddddd30;
}

.small-video {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  filter: drop-shadow(0px 10px 12px #00000080) brightness(1.2) saturate(1.2);
}
/* Cabeçalho */
header {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  color: #fff;
  z-index: 1000;
  transition: transform 1s ease, background-color 1s linear,
    backdrop-filter 1s ease, box-shadow 1s ease !important;
}

header.sticky-active {
  backdrop-filter: blur(60px);
  background-color: #32475a50;
  box-shadow: 0 2px 1px 0 #15151530;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 0;
  width: 100%;
}

header .logo {
  display: flex;
  position: relative;
}

header .logo img {
  width: 28vh;
  margin-left: 3vh;
  position: relative;
  z-index: 1;
}

header nav ul {
  list-style: none;
  text-align: right;
}

header nav ul li {
  margin-left: 20px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.persuasive-section {
  padding: 60px 2rem !important;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.persuasive-section h2 {
  text-align: center;
}

.persuasive-section .container {
  align-self: center;
  padding: 0;
}

.persuasive-section .content {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  transition: transform 0.2s ease;
}

.persuasive-section .point {
  display: flex;
  text-align: center;
  border-radius: 1rem;
  padding: 20px 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  min-width: 350px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.persuasive-section .point:hover {
  transform: translateY(-10px);
}

.persuasive-section .img-product img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 0.5rem;
  transition: transform 0.3s ease;
  filter: drop-shadow(0px 10px 5px #00000050) brightness(1.08) saturate(1.08);
}

.img-product .alt-img {
  display: none;
}

.img-product:hover .main-img {
  display: none;
}

.img-product:hover .alt-img {
  display: block;
}

.img-product {
  filter: brightness(1.1);
  height: 300px;
  align-content: center;
}

.persuasive-section .point:hover .img-product img {
  transform: scale(1.05);
}

.persuasive-section .point h3 {
  font-size: 1.4rem;
}

.persuasive-section .point p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #e0e0e0;
}

/* Carrossel para Mobile */
@media (max-width: 768px) {
  .persuasive-section .content {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    gap: 20px;
    -webkit-overflow-scrolling: touch;
    padding: 1rem 0;
  }

  .persuasive-section .point {
    min-width: 85%;
    scroll-snap-align: center;
  }

  .persuasive-section .point:first-child {
    margin-left: 10px;
  }

  .persuasive-section .point:last-child {
    margin-right: 10px;
  }
}

/* Seção Hero */
.hero {
  display: flex;
  justify-content: center;
  background-size: cover;
  background-position: right;
  color: #fff;
  padding-top: 2rem;
  margin: 0 4rem;
}

.hero p {
  font-size: 1.35rem;
  margin: 1.5rem 0;
}

.hero h1 {
  font-size: 2.2rem;
  text-shadow: 0px 8px 4px #00000025;
}

.hero .container {
  text-align: center;
  align-content: center;
  border-radius: 1rem;
  padding: 3.5rem 0.4rem;
  margin: 1rem;
}

.hero .cta {
  display: inline-block;
  background-image: linear-gradient(145deg, #ffc107, #ffc107, #ffc107, #ffd54f);
  color: #2f2f2f;
  padding: 10px 20px;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  border-radius: 3rem;
  transition: font-size 0.3s ease, transform 0.3s ease;
  animation: pulse 2s infinite;
  filter: drop-shadow(0 5px 3px rgba(0, 0, 0, 0.2));
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15),
    inset 0 -3px 5px rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.1);
  transform: translateY(0);
}

.hero .cta:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1),
    inset 0 -3px 5px rgba(0, 0, 0, 0.2);
  transform: translateY(1px);
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  margin-top: 1rem;
}

.services h2 {
  text-align: center;
}

.service-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 0 1rem;
}

.service-item {
  padding: 3rem 0.1rem;
  text-align: center;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.service-item:hover {
  transform: translateY(-10px);
}

.service-item h3 {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.service-item p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #e0e0e0;
  padding: 0 3rem;
}

/* Seção Portfólio */
.portfolio {
  padding: 60px 0;
}

.portfolio h2 {
  text-align: center;
}

.portfolio-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.portfolio-item {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.portfolio-item:hover {
  transform: translateY(-10px);
}

.portfolio-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.portfolio-item p {
  padding: 15px;
  font-size: 1rem;
  color: #333;
}

/* Seção de Contato */
#contato {
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.contact {
  padding-bottom: 60px;
  padding: 5rem;
}

.contact .container {
  padding-top: 1rem;
}

.contact h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  transition: height 0.5s ease-in-out;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  background: #00000020;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #cccccc60;
  font-size: 1rem;
  color: #fff;
}

.form-group textarea {
  resize: vertical;
  height: 150px;
}

input::placeholder,
textarea::placeholder {
  color: #dddddd90; /* Cor do placeholder */
}

.cta-products {
  display: inline-block;
  background-image: linear-gradient(145deg, #ffc107, #ffc107, #ffc107, #ffd54f);
  color: #2f2f2f;
  padding: 5px 20px;
  font-size: 1rem;
  text-decoration: none;
  font-weight: bold;
  border-radius: 3rem;
  transition: font-size 0.3s ease, transform 0.3s ease;
  filter: drop-shadow(0 5px 3px rgba(0, 0, 0, 0.2));
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15),
    inset 0 -3px 5px rgba(0, 0, 0, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0);
  border-left: 1px solid rgba(255, 255, 255, 0);
  border-right: 1px solid rgba(255, 255, 255, 0);
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  transform: translateY(0);
  margin-top: 1rem;
}

.cta-products:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1),
    inset 0 -3px 5px rgba(0, 0, 0, 0.2);
  transform: translateY(2px);
}

form small {
  color: #ffffff60;
}

form .cta {
  display: inline-block;
  background-image: linear-gradient(145deg, #ffc107, #ffc107, #ffc107, #ffd54f);

  color: #2f2f2f;
  padding: 10px 20px;
  font-size: 1rem;
  text-decoration: none;
  font-weight: bold;
  border-radius: 3rem;
  transition: font-size 0.3s ease, transform 0.3s ease;
  filter: drop-shadow(0 5px 3px rgba(0, 0, 0, 0.2));
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15),
    inset 0 -3px 5px rgba(0, 0, 0, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0);
  border-left: 1px solid rgba(255, 255, 255, 0);
  border-right: 1px solid rgba(255, 255, 255, 0);
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  transform: translateY(0);
  margin-top: 1rem;
}

.cta:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1),
    inset 0 -3px 5px rgba(0, 0, 0, 0.2);
  transform: translateY(2px);
}

#success-message {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10rem;
}

.required {
  color: #ff000050;
  font-size: 0.8rem;
}

.iti__country.iti__highlight {
  background: #303030 !important;
}

.iti__country {
  background: #151515;
  border-top: 1px solid #ffffff15;
}

.iti__divider {
  padding: 0 !important;
  margin: 0 !important;
  border: 0 !important;
}

/* Rodapé */
footer {
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 14px;
}

.container-footer.blur-mask {
  background-color: #15151520;
}
.container-footer.blur-mask::before {
  border: none;
  backdrop-filter: blur(1px);
}

.container-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .container {
  width: 100%;
  margin: 0;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  border-image: linear-gradient(
      to right,
      /* Azul intermediário no meio */ #4c637a,
      /* Azul mais claro no centro para criar contraste */ #32475a,
      /* Azul intermediário no meio novamente */ #1f2a35
    )
    1;

  border-top: 3px solid;
}

.about {
  padding: 1rem 15rem;
}

footer .about,
.contact-info,
.map,
.social {
  margin-bottom: 10px;
}

.social img:hover {
  scale: 1.05;
}

.social img {
  width: 30px;
  filter: saturate(1.2);
  border-radius: 100%;
  box-shadow: 0 5px 3px #00000030;
}

#footer-title {
  padding-top: 2rem;
  font-size: 2rem;
  text-shadow: 0 10px 5px #00000030;
}

footer .about p {
  margin: 0;
  line-height: 1.6;
  padding-bottom: 1rem;
}

#about {
  font-size: 1.1rem !important;
  padding: 1.5rem 0;
  font-size: 1.2rem !important;
}

footer .citation {
  margin-top: 10px;
  font-style: italic;
  font-size: 14px;
  color: rgb(214, 176, 76);
}

footer .contact-info {
  font-weight: bold;
  line-height: 1.8;
}

footer .social-links {
  list-style: none;
  padding: 0;
  margin: 15px 0 0 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

footer .social-links li {
  display: inline-block;
}

footer .social-icon i {
  font-size: 24px;
  color: #fff;
  transition: transform 0.3s ease, color 0.3s ease;
}

footer .social-icon:hover i {
  transform: scale(1.1);
  color: #ffc857;
}

footer .footer-legal {
  font-size: 12px;
  color: #bbb;
  border-top: 1px solid #ffffff20;
  padding: 1rem 0;
  width: 100%;
}

.whatsapp-button {
  position: fixed;
  bottom: 1vh;
  right: 2vh;
  z-index: 1000;
  filter: drop-shadow(2px 5px 2px #151515);
  animation: pulse 1.2s infinite;
  opacity: 0; /* Inicialmente escondido */
  transition: opacity 1s ease-in-out; /* Transição suave */
}

.whatsapp-button.visible {
  opacity: 1; /* Mostra o botão quando a classe 'visible' é adicionada */
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.04);
  }
  100% {
    transform: scale(1);
  }
}

.whatsapp-button a img {
  width: 8vh;
  height: 8vh;
  transition: transform 0.3s ease;
}

.whatsapp-button a img:hover {
  transform: scale(1.1);
}

.menu-ancora {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.menu-ancora li {
  position: relative;
  margin: 0.3vh 0;
  padding-left: 2.5vh;
}

.menu-ancora li.completed a::before {
  background-color: #ffffff04;
}

.menu-ancora li.completed a::after {
  background-color: #ffffff04;
}

.menu-ancora li a::before {
  opacity: 0;
  content: "";
  position: absolute;
  left: 0.2vh;
  top: 50%;
  transform: translateY(-50%);
  width: 1vh;
  height: 1vh;
  background-color: #ffffff15;
  border-radius: 50%;
  z-index: 1;
  transition: opacity 1s;
}

.menu-ancora li.active a::before {
  box-shadow: inset 0 0 1px 0 #555;
  background-image: linear-gradient(to top, #2a3036, #323a41, #2a3036);
  box-shadow: inset 0 0 0 1px #55606c;
}

.menu-ancora li a::after {
  opacity: 0;
  transition: opacity 1s;
  content: "";
  position: absolute;
  left: 0.55vh;
  top: 67%;
  width: 0.3vh;
  background-color: #ffffff15;
  height: 3.3vh;
  z-index: 0;
}

.menu-ancora li:last-child a::after {
  display: none;
}

.menu-ancora li a {
  border-left: 0.2vh solid #eaeaea10;
  border-top: 0.2vh solid #eaeaea10;
  border-bottom: 0.2vh solid #eaeaea10;
  border-top-left-radius: 5rem;
  border-bottom-left-radius: 5rem;
  background-color: #3d414350;
  font-weight: 600;
  width: 13vh;
  display: flex;
  font-size: 2.2vh;
  text-decoration: none;
  color: #eaeaea90;
  padding-left: 2vh;
}

.menu-ancora li.completed a {
  background-color: #3d414310;
  color: #eaeaea50;
}

.menu-ancora li.active a {
  background-image: linear-gradient(
    to top,

    #2a3036,
    #323a41,
    #2a3036
  );

  border-left: 1px solid #55606c;
  border-top: 1px solid #55606c;
  border-bottom: 1px solid #55606c;
  color: #fff;
}

.carousel-navigation {
  display: none;
}

/* Media Queries */
@media (max-width: 768px) {
  #footer {
    margin-top: 2rem;
  }
  .service-items {
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    gap: 20px;
    scroll-snap-type: x mandatory;
    padding: 1rem 2rem;
  }

  .service-item {
    min-width: 100%;
    flex: 0 0 100%;
    padding: 2rem 1rem;
    text-align: center;
    border-radius: 10px;
    transition: transform 0.3s ease;
    scroll-snap-align: center;
  }

  .carousel-navigation {
    text-align: center;
    margin-top: 20px;
    display: inherit;
  }

  .dot {
    height: 12px;
    width: 12px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    border: none;
  }

  .dot.active {
    background-color: #eaeaea;
    transform: scale(1.1);
  }

  header .container {
    text-align: center;
    padding-right: 0;
  }

  header nav ul {
    flex-direction: column;
    margin-top: 10px;
  }

  .hero p {
    font-size: 1.1rem !important;
    color: #fff;
  }

  .container-1 {
    align-self: center;
  }
  .container-1 img {
    width: 300px;
  }

  #about {
    font-size: 1.1rem;
    padding: 1.5rem 0;
  }

  footer .map-container iframe {
    width: 100%;
    border-radius: 0.5rem !important;
  }

  .persuasive-section .point {
    padding: 1rem;
    border-radius: 2rem;
  }

  header .logo img {
    width: 20vh;
  }

  .hero {
    margin: 0;
  }

  .contact {
    padding: 0;
  }

  #why-choose-us {
    padding: 0 !important;
  }

  .persuasive-section {
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .about {
    padding: 0;
  }

  .hero .container {
    margin: 0 1rem;
  }

  .hero .cta {
    padding: 10px 20px;
    font-size: 0.9rem;
  }

  .contact {
    padding: 2rem 1rem;
  }

  .hero p {
    font-size: 1.2rem;
  }

  .hero h1 {
    font-size: 1.8rem;
  }

  .service-item p {
    padding: 0;
  }
}

@media (min-width: 768px) {
  .menu-ancora li a:hover {
    border-color: #eaeaea99;
    color: #eaeaea;
  }

  .menu-ancora li.completed a:hover {
    color: #eaeaea90;
  }

  .hero .container {
    min-height: 25rem;
  }

  .container {
    padding: 1rem !important;
  }

  #contato {
    padding: 0 0 2rem 0;
  }
}
